.btn-primary {
    background-color: orange;
    border: 0;
    border-radius: 10px;
    padding: 15px 40px 15px 40px;
    font-size: 16px;
    font-weight: bold;
}

.btn-secondary {
    background-color: grey;
    border: 0;
    border-radius: 10px;
    padding: 15px 40px 15px 40px;
    font-size: 16px;
    font-weight: bold;
}

.herobwa h1 {
    font-family: "Comic Neue", cursive;
    font-weight: 900;
}

.herobwa p {
    font-family: "Comic Neue", cursive;
    font-weight: 900;
}